<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <br><br><br>
            <h1><strong>Welcome! </strong> You are logged in.</h1>

            <strong>Name: {{user.name}}</strong> | <strong>Username: {{user.username}}</strong> | <strong>Email: {{user.email}}</strong>
        </div>
    </div>
</div>